:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background: '#0f0d13';
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
   
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.Container{
    background: #0f0d13;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(12,1fr);
    gap: 5px;
  
    height: 95vh;
}

.NavBar{
    background: #19171d;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 8px;
    grid-row-start: 1; 
    grid-row-end: 13;

    display: flex;
  flex-direction: column;
  
}

.Search{
   /*  height: 10%; */
   background: '#0f0d13';
    border: 2px solid rgb(185, 185, 185);
    border-radius: 8px; 
}

.Place{
    height: 100%;
    background: '#0f0d13';
    border: 2px solid rgb(185, 185, 185);
    border-radius: 8px; 
    grid-row-start: 2; 
    grid-row-end: 13;
}







