.CardRoyal {
  height: 70px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 1px;
  background: #1c1a28;
  /*   display: flex;  
    flex-direction: row;  
    justify-content:  space-around; 
    align-content: center; */

  display: grid;
  grid-template-columns: 1fr 2fr 50px 50px repeat(5, 1fr);
}

.CardRoyal:hover {
  background: #302d42;
}

.Servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.Insignia {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.Servicios {
 /*  display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 2fr;
  align-content: center;  
  justify-content: center; 
   justify-items: center; /*Eje x*/
}

#lblServicio{
  grid-row-start: 2;
}

.Horarios {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.Tel {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.Adrress {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.Redes {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 2fr;
  align-content: center;  
  justify-content: center; 
   justify-items: center; /*Eje x*/
}