.QuadForm{
    
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);   
  height: 40px;
}

#FavPort{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

#FavData{
    grid-column-start: 2;
    grid-row-start: 1; 
    justify-content:start;
    align-content: center;
    align-items: center;
}

 